<!DOCTYPE html>
<html>
<head>
    <title>Available Users</title>
    <link rel="stylesheet" href="/css/styling.css">
</head>
<body>
    <div class="container">
        <h1>Available Users</h1>
        <ul>
            <% users.forEach(function (user) { %>
                <li>
                    <strong>userid:</strong> <%= user.userid %> <%= user.lastName %><br>
                    <strong>username:</strong> <%= user.username %><br>
                    <strong>email:</strong> <%= user.email %><br> <br>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>
