<!DOCTYPE html>
<html>
<head>
    <title>Signup Form</title>
    <link rel="stylesheet" href="/css/styling.css">
</head>
<body>
<div class = "container">
    <form action="/user" method="post">
        <h1>Signup form</h1>
        <input type="email" name="email" class = "inp" d="email" placeholder="Email" required /><br>
        <input type="text" name="userName" class = "inp" id="userName" placeholder="User Name" required /><br>
        <input type="password" name="password" class = "inp" id="password" placeholder="Password" required /><br><br>
        <button type="submit" id="submitDetails" name="submitDetails">Submit</button>
    </form>
</div>
</body>
</html>
